.mat-toolbar.mat-primary {
    background-color: var(--primary-color-darker);
    color: var(--accent-color);
}
.mat-toolbar-single-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.configure, .about, .tools, .settings {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.configure {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mat-divider.mat-divider-vertical {
    border-top-color: rgba(228, 224, 221, 0.5);
    height: 40px;
    border-right-width: 4px;
    margin: 10px;
}