/* You can add global styles to this file, and also import other style files */
:root { 
    --accent-color: #E4E0DD;
    --primary-color-light: #E2DEEA;
    --primary-color-lighter: #CDC5DB;
    --primary-color: #9680A4;
    --primary-color-darker: #5D5174;
    --primary-color-dark: #4A4150;
    body {
        background-color: var(--primary-color-darker);
        color: var(--accent-color);
        padding: 0 20px 0 20px;
    }
}